@model Album

@{
    if (Model == null)
    {
        ViewBag.Title = "Invalid ID";
    }
    else
    {
        ViewBag.Title = @Model.Title + " - " + @Model.Artist;
    }
}

@{
    if (Model == null)
    {
        <div>No album with this ID could be found in the database.</div>
    }
    else
    {
        <partial name="_AlbumSummary" for="@Model"/>
    }
}
<br />
<a asp-action="Edit" asp-route-id="@Model.Id">Edit this album</a>
<br/>
@Html.ActionLink("Back to album list via this ActionLink", "Index")
<br />
<a asp-action="Index">Back to album list via this TagHelper</a>